# ===== Mongo =====
MONGO_ROOT_USER=
MONGO_ROOT_PASS=
MONGO_DB=
MONGO_PORT=
# Mongo hostname w compose to "mongo"
MONGO_URI=

# ===== Backend =====
BACKEND_PORT=
JWT_SECRET=
# 32 bajty base64 (AES-256-GCM key). Wygeneruj jak niżej.
ENC_KEY=
CLIENT_ORIGIN=

# ===== Frontend =====
FRONTEND_PORT=
VITE_API_URL=
