# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env / secrets
.env
.env.*
!.env.example

# Build
dist/
build/
.vite/

# OS
.DS_Store
Thumbs.db

# Docker local volumes (opcjonalnie)
data/
mongo-data/
